h3,
h4 {
  display: inline;
  cursor: default;
  font-family: 'Fira Code', monospace;
  color: #122617;
  background-color: #f27d72;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 1.5rem;
  margin: 10px;
}

.col-left {
  text-align: left;
}

.col-right {
  text-align: right;
  padding-top: 20px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.alert-danger {
  font-family: 'Fira Code', monospace;
  margin-bottom: 5px;
}

.alert-success {
  font-family: 'Fira Code', monospace;
}
